@media screen and (max-width: 1005px){
    .navbar{
        position: relative;
    }
    .menu{
        display: none;
    }
    .logo{
        margin: 0;
        text-align: center;
        margin-bottom: 5px;
    }
    .header{
        padding-top: 50px;
    }
    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .headline p{
        text-align: center;
    }
    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
 
   }
   .card{
    width: 100%;

   }
   .mobile-menu-icon{
    display: block;
    
}
.mobile-menu-icon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;

}
.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}
.mobile-menu #botao{
    display: block;
    padding: 1rem 2rem;
    width: 100%;
}
.open {
    display: block;
}
}
